@model driving_school_management.ViewModels.DashboardReportVm

<h4>Khóa học</h4>

<table class="table">
    <thead>
        <tr>
            <th>Tháng</th>
            <th class="text-end">Số khóa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NewCoursesByMonth)
        {
            <tr>
                <td>@item.Label</td>
                <td class="text-end">@item.Value</td>
            </tr>
        }
    </tbody>
</table>

<h5>Phân bố theo hạng</h5>

<ul>
    @foreach (var item in Model.CoursesByHang)
    {
        <li>@item.Label - @item.Value</li>
    }
</ul>